<% content_for :breadcrumb do %>
  <li><%= link_to "Home", home_index_path %> <span class="divider">/</span></li> <li class="active"><%= current_user.name %></li>
<% end %>
<%= render 'profile/user_profile' %>
