
<div id="title"></div>
<div class="container-fluid">
  <div class="row-fluid">
      <!-- carousel and other stuff -->
        <div id="myCarousel" class="carousel">
  <div class="carousel-inner">
  <div class="active item">
    <div class="hero-unit">
    <div class="span5">
	<h1>1st Awesome content!</h1>
	<blockquote>There's stuff here and you might want to press le button to find out moar.</blockquote>
	<a class="btn btn-primary btn-large">Click here</a>
    </div>
      <div class="span6"> <%= image_tag("1.jpg", :alt => "rss feed", :size => "360x260") %>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="hero-unit">
    <div class="span5">
	<h1>2nd Awesome content!</h1>
	<blockquote>There's stuff here and you might want to press le button to find out moar.</blockquote>
	<a class="btn btn-primary btn-large">Click here</a>
    </div>
      <div class="span6"> <%= image_tag("3.jpg", :alt => "rss feed", :size => "360x260") %>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="hero-unit">
    <div class="span5">
	<h1>3rd Awesome content!</h1>
	<blockquote>There's stuff here and you might want to press le button to find out moar.</blockquote>
	<a class="btn btn-primary btn-large">Click here</a>
    </div>
      <div class="span6"> <%= image_tag("2.jpg", :alt => "rss feed", :size => "360x260") %>
      </div>
    </div>
  </div>
  </div>
   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  </div>

  <div class="span4 bottom_container" style="display: block;">
    <div style="padding: 10px;">
      <h1>About Us</h1>
      <img/>
      <p>The quick brown fox jumped over the lazy dog. The lazy dog was jumped over by the quick brown fox.</p>
    </div>
  </div>

 <div class="span4 bottom_container" style="display: block;">
    <div style="padding: 10px;">
      <h1>About Us</h1>
      <img/>
      <p>The quick brown fox jumped over the lazy dog. The lazy dog was jumped over by the quick brown fox.</p>
    </div>
  </div>

   <div class="span4 bottom_container" style="display: block;">
    <div style="padding: 10px;">
      <h1>About Us</h1>
      <img/>
      <p>The quick brown fox jumped over the lazy dog. The lazy dog was jumped over by the quick brown fox.</p>
    </div>
  </div>

</div>


