
<div id="title"></div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <!-- carousel and other stuff -->
    </div>

    <div class="span2">
      <!-- login and calendar -->
    </div>

  </div>
</div>


