<!--<%- model_class = @event.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %></h1>
<%= render :partial => 'form' %>-->

<% content_for :breadcrumb do %>
  <li><%= link_to "Events" %> <span class="divider">/</span></li>
  <li class="active">Edit Event</li>
<% end %>

<h1>Some Event</h1>

<%= render 'form' %>
