/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

p.margin
{
margin-left: 140px;
}

#content
{
background-color: #f0f0f0;
}

#events_container .box {
	min-width: 260px;
	max-width: 260px;
	background-color: #f6f6f6;
	padding: 10px;
	margin: 5px 0;
	text-transform: none;
	text-decoration: none;
	border: 1px solid #ddd;
	color: #333;

	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;

	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*#events_container img {
	min-height: 75px;
	max-height: 150px;
	max-width: 240px;
}*/

#events_container .box:hover {
	border-color: #aaa;
	background: #8fe8fc;
	transition: all 1s linear;
	-moz-transition: all 1s linear;
}

#events_container .box h1 {
	font-size: 18px;
}

#events_container .box .link:hover {
	background: none;
}

#events_container .box p {
	overflow: auto;
	clear: both;
	padding: 0;
	margin: 0;
}

#events_container .box p.event_desc {
	text-align: justify;
}

#events_container .box label {
	float: left;
}

#events_container .box-details {
	font-size: 12px !important;
	/*margin-top: 8px;
	padding-top: 8px;
	border-top: 1px solid #888;
	*/
}

#events_container.box-details p {
	float:left;
}

#events_container .box-details label {
	font-weight: bold; margin-right: 3px;
}

div.bottom_container {
	background: #232323;
	color: white;
    border: 1px solid #777;
    width: 32% !important;
    margin-left: 10px;
  }

 div.bottom_container h1 {
 	color: white;
 	text-transform: uppercase;
 	margin: 5px 0;
 }

#profile_pic_container{
	float: left;
}

#profile_info_container{
	float: left;
	border-top: 1px solid #141313;
}